<%- include('./customerview/header.ejs')%>


<div class="containner">

  <div id="myModal" class="modal1">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text ..</p>
      </div>
    
    </div>

</div>

<!-- header section ends -->


<section class="banner">
  <div class="banner-contents">
      <h1>WELCOME TO THE EBOOK</h1>
      <p>Here you can find your favourite books and order them online</p>
  </div>

  
      
      
      
</div>
</section>

<!-- bottom navbar  -->

<nav class="bottom-navbar">
  <a href="#home" class="fas fa-home"></a>
  <a href="#featured" class="fas fa-list"></a>
  <a href="#categories" class="fa fa-list-alt"></a>
  <a href="#arrivals" class="fas fa-tags"></a>
  <a href="#reviews" class="fas fa-comments"></a>
  <a href="#blogs" class="fas fa-blog"></a>
</nav>

<!-- login form  -->

<!-- <div class="login-form-container">

  <div id="close-login-btn" class="fas fa-times"></div>

  

  <div>
      <p id="alignment" class="fas fa-exclamation-circle"> If you first time here plz <span>sign up</span> firstly</p>
      <form action="">
          <h3>sign up</h3>
          <span>User Name</span>
          <input type="text" name="" class="box" placeholder="enter your name" id="">
          <span>Email</span>
          <input type="email" name="" class="box" placeholder="enter your email" id="">
          <span>password</span>
          <input type="password" name="" class="box" placeholder="enter your password" id="">
          <input type="file" name="" class="box" placeholder="" id="">
          
          <div class="checkbox">
              <input type="checkbox" name="" id="remember-me">
              <label for="remember-me"> remember me </label>
          </div>
          <input type="submit" value="Register" class="btn">
          
      </form>
  </div>


  <form action="">
      <h3>sign in</h3>
      <span>username</span>
      <input type="email" name="" class="box" placeholder="enter your email" id="">
      <span>password</span>
      <input type="password" name="" class="box" placeholder="enter your password" id="">
      <div class="checkbox">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me"> remember me</label>
      </div>
      <input type="submit" value="Log in" class="btn">
      <p>forget password ? <a href="#">click here</a></p>
      <p>don't have an account ? <a href="#">create one</a></p>
  </form>

  

</div> -->

<!-- home section starts  -->

<section class="home" id="home">

  <div class="row">

      <div class="content">
          <h3>upto 15% off</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
          <button class="btn" id="btn1"> shop now </button>
      </div>

      <div class="swiper books-slider">
          <div class="swiper-wrapper">
              <a href="#" class="swiper-slide"><img src="/img/the-god-is-small-things.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/img/gitangoli.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/img/islami-banking.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/img/meditation-.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/img/Otondila.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/img/29-.png" alt=""></a>
          </div>
          
      </div>

  </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

  <div class="icons">
      <i id="icon" class="fas fa-shipping-fast"></i>
      <div class="content">
          <h3>free shipping</h3>
          <p style="color: white;">order over ৳1000</p>
      </div>
  </div>

  <div class="icons">
      <i id="icon" class="fas fa-lock"></i>
      <div class="content">
          <h3>secure payment</h3>
          <p style="color: white;">100% secure payment</p>
      </div>
  </div>

  <div class="icons">
      <i id="icon" class="fas fa-redo-alt"></i>
      <div class="content">
          <h3>easy returns</h3>
          <p style="color: white;">10 days returns</p>
      </div>
  </div>

  <div class="icons">
      <i id="icon" class="fas fa-headset"></i>
      <div class="content">
          <h3>24/7 support</h3>
          <p style="color: white;">call us anytime</p>
      </div>

      <span class="cart-nav">
            <a href="/cart">
              <i id="top2" class="fas fa-shopping-cart" class="item-numb"><%= session.cart ? session.cart.totalBooks : '' %></i>
            
            </a>  
           </span>
  </div>

</section>

<!-- icons section ends -->


<!-- featured section starts  -->

<section class="featured" id="featured">

  <h1 class="heading"> <span>Featured Books </span> </h1>

  <!--==Slider============================================-->
<section class="product-slider">
  

  <!--btns=========================-->
  <div class="slider-btns">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>

  <div class="slider-container">
  <!-- Swiper -->
  <div class="swiper mySwiper">
  <div class="swiper-wrapper">

      <!--1================================-->
      <% books.forEach(function(books) { %>
        <% if(books.category === "Featured Books") { %>
      <div class="swiper-slide">
      <!--box----------------------->
      <div class="product-box">
          <!--==offer==-->
          <span class="product-box-offer"><%= books.description %></span>

          <!--img-container****************-->
          <div class="product-img-container">

          <!--img=============-->
          <div class="product-img">
          <a href="">
              <img class="product-img-front" src="/img/<%= books.bookImage %>" alt=""/>
              <img class="product-img-back" src="/img/<%= books.bookImage %>" alt=""/>
          </a>
          </div>
          </div>

          <!--text***************************-->
          <div class="product-box-text">
               <!--category-->
               <div class="product-category">
                  <span><%= books.bookName %></span>
              </div>
              <!--tile--->
              <a href="" class="product-title">
                <%= books.category %>
              </a>
              <!--Price--->
              <div class="price-buy">
                  <span class="p-price">৳ <%= books.price %> </span>
                  
                      <button data-books="<%= JSON.stringify(books) %>" class="add-to-cart btn">Add to cart</button>
                  
              </div>
          </div>

      </div>
      </div>
       <% } %>
      <% }) %>
  </div>
  </div>
  
  </div>

  
  

  </section>

  
</section>

<!-- featured section ends -->



<!-- categories section starts  -->

<section style="background: image('/img/pexels-photo-3394939.jpeg');" class="categories" id="categories">

  <h1 class="heading">  <span>categories</span> </h1>

  <div class="box-container">

      <div class="box">


          <a href="" target="_blank"><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: White;">উপন্যাস</h3></a>
         
         
      
      </div>

      <div class="box">

          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: white;">অমর একুশে গ্রণ্থমেলা</h3></a>
          
      </div>

      <div class="box">
         
          <a href=""> <h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: White; ">ইতিহাস ও ঐতিহ্য </h3></a>          
          
      </div>

      <div class="box">
          
          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: white;">কম্পিউটার ও ফ্রিল্যান্সিং বুক</h3></a>
         
          
      </div>

      <div class="box">
          
          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: white;">আইন ও বিচার</h3></a>
         
          
      </div>

      <div class="box">
          
          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: white;">ইন্জিনিয়ারিং বই</h3></a>
         
          
      </div>

      <div class="box">
          
          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: white;">ইংরেজি ভাষার বই</h3></a>
         
          
      </div>

      <div class="box">
          
          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: White; ">রহস্যময় বই</h3></a>
         
          
      </div>

      
      <div class="box">
          
          <a href=""><h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: White; ">সেরা ইসলামি বই</h3></a>
         
          
      </div>

      
      <div class="box">
          
         <a href=""> <h3 style="text-align: center; font-size: 30px; justify-content: center; padding-top: 20px; color: White; ">সেরা শিশু কিশোর বই</h3></a>
         
          

      </div>



  </div>

</section>

<!-- categories section ends -->






<!-- newsletter section starts -->

<section class="newsletter">

  <form action="">
      <h3 style="color: black">subscribe for latest updates</h3>
      <input type="email" name="" placeholder="enter your email" id="" class="box">
      <input type="submit" value="subscribe" class="btn">
  </form>

</section>

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">

  <h1 class="heading"> <span>new arrivals</span> </h1>

  <div class="swiper arrivals-slider">

      <div class="swiper-wrapper">

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/323411.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/323242.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price">  <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/130096.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price">  <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/74601.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/325238.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

      </div>

  </div>

  <div class="swiper arrivals-slider">

      <div class="swiper-wrapper">

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/324473.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>

              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/325064.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/324538.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/325067.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

          <a href="#" class="swiper-slide box">
              <div class="image">
                  <img src="/img/325184.png" alt="">
              </div>
              <div class="content">
                  <h3>new arrivals</h3>
                  <div class="price"> <span></span></div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                  </div>
              </div>
          </a>

      </div>

  </div>

</section>

<!-- arrivals section ends -->


<!-- writer section starts  -->

<section class="categories" id="categories">

  <h1 class="heading">  <span>Famous writter's Books </span> </h1>

<div class = "gallery">

  <ul class="controls">
      <li class="buttons active" data-filter="all">all</li>
      <li class="buttons" data-filter="হুমায়ূনআহমেদ">হুমায়ূন আহমেদ</li>

      <li class="buttons" data-filter="সমরেশমজুমদার">সমরেশ মজুমদার</li>
      <li class="buttons" data-filter="মুহম্মদজাফরইকবাল">মুহম্মদ জাফর ইকবাল</li>
      <li class="buttons" data-filter="রবীন্দ্রনাথঠাকুর">রবীন্দ্রনাথ ঠাকুর</li>
      <li class="buttons" data-filter="সুনীলগঙ্গোপাধ্যায়">সুনীল গঙ্গোপাধ্যায়</li>

  </ul>

  <div class="image-container">
      <% books.forEach(function(books) { %>
        <% if(books.authorName === "হুমায়ূন আহমেদ") { %>
      <a href="/img/<%= books.bookImage %>" class="image হুমায়ূনআহমেদ ">
          <img src="/img/<%= books.bookImage %>" alt=""> 
          <div class="content">
              <h3><%= books.bookName %></h3>

              <p><%= books.authorName %></p>
              <div class="price">৳ <%= books.price %> <span style="text-decoration: line-through;">৳ <%= books.description %></span></div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <button data-books="<%= JSON.stringify(books) %>" class="add-to-cart btn" id="btn1"> Add to cart</button>
          </div>
      </a>
      <% } %>
      <% }) %>

      <% books.forEach(function(books) { %>
        <% if(books.authorName === "সমরেশ মজুমদার") { %>
      <a href="/img/<%= books.bookImage %>" class="image সমরেশমজুমদার">
          <img src="/img/<%= books.bookImage %>" alt=""> 
          <div class="content">
            <h3><%= books.bookName %></h3>

            <p><%= books.authorName %></p>
              <div class="price">৳ <%= books.price %> <span style="text-decoration: line-through;">৳ <%= books.description %></span></div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <button data-books="<%= JSON.stringify(books) %>" class="add-to-cart btn" id="btn1"> Add to cart</button>
          </div>
      </a>
      <% } %>
      <% }) %>

      <% books.forEach(function(books) { %>
        <% if(books.authorName === "মুহম্মদ জাফর ইকবাল") { %>
      <a href="/img/<%= books.bookImage %>" class="image মুহম্মদজাফরইকবাল">
          <img src="/img/<%= books.bookImage %>" alt=""> 
          <div class="content">
            <h3><%= books.bookName %></h3>

            <p><%= books.authorName %></p>
              <div class="price">৳ <%= books.price %><span style="text-decoration: line-through;">৳ <%= books.description %></span></div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
                <button data-books="<%= JSON.stringify(books) %>" class="add-to-cart btn" id="btn1"> Add to cart</button>
          </div>
      </a>
      <% } %>
      <% }) %>

      <% books.forEach(function(books) { %>
        <% if(books.authorName === "রবীন্দ্রনাথ ঠাকুর") { %>
      <a href="/img/<%= books.bookImage %>" class="image রবীন্দ্রনাথঠাকুর">
          <img src="/img/<%= books.bookImage %>" alt=""> 
          <div class="content">
              <h3><%= books.bookName %></h3>
              <p><%= books.authorName %></p>
              <div class="price">৳ <%= books.price %> <span style="text-decoration: line-through;">৳ <%= books.description %> </span></div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <button data-books="<%= JSON.stringify(books) %>" class="add-to-cart btn" id="btn1"> Add to cart</button>
          </div>
      </a>
      <% } %>
      <% }) %>
     

  </div>
</div>

</section>


<!-- writer section ends -->

  
<!-- deal section starts  -->

<section class="deal">

  <div class="content">
      <h3>deal of the day</h3>
      <h1>upto 50% off</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde perspiciatis in atque dolore tempora quaerat at fuga dolorum natus velit.</p>
      <a href="#" class="btn">shop now</a>
  </div>

  <div class="image">
      <img height="700px" width="10px" src="/img/17235655.jpg" alt="">
  </div>

</section>

<!-- deal section ends -->

<!-- pre order section starts  -->
<section class="featured" id="featured">

  <h1 class="heading"> <span>pre order Books </span> </h1>
  <div class="slider-btns">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  
  </div>
  

  <div class="swiper featured-slider">

      <div class="swiper-wrapper">

        <% books.forEach(function(books) { %>
            <% if(books.category === "Pre Order") { %>
          <div class="swiper-slide box">
              <div class="icons">
                  <a href="#" class="fas fa-search"></a>
                  <a href="#" class="fas fa-heart"></a>
                  <a href="#" class="fas fa-eye"></a>
              </div>
              <div class="image">
                  <img src="/img/<%= books.bookImage %>" alt="">
              </div>
              <div class="content">
                  <h3><%= books.bookName %></h3>
                  <div class="price">৳ <%= books.price %><span>৳ <%= books.description %></span></div>
                  <button data-books="<%= JSON.stringify(books) %>" class="btn add-to-cart" id="btn3"> add to cart </button>
              </div>
          </div>
          <% } %>
        <% }) %>

      </div>

  </div>

</section>

<!-- pre order section starts  -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

  <h1 class="heading"> <span>customer reviews</span> </h1>

  <div class="blog-slider">
      <div class="blog-slider__wrp swiper-wrapper">
    
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="/img/mypic.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">15 December 2021</span>
            <div class="blog-slider__title">Shamsul Alam Rakib</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="/img/mypic2.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">14 December 2021</span>
            <div class="blog-slider__title">Arafat Kamal</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="/img/mypic3.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">14 December 2021</span>
            <div class="blog-slider__title">Ak Faisal</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>

        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="/img/mypic4.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">12 December 2021</span>
            <div class="blog-slider__title">Hafizur Rahman</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>

        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="/img/mypic5.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">11 December 2021</span>
            <div class="blog-slider__title">Mr. Nabid</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
      </div>
      <div class="blog-slider__pagination"></div>
    </div>
    
  
</section>

<!-- reviews section ends -->





<!-- blogs section starts  -->

<section class="blogs" id="blogs">

  <h1 class="heading"> <span>our blogs</span> </h1>

  <div class="swiper blogs-slider">

      <div class="swiper-wrapper">

          <div class="swiper-slide box">
              <div class="image">
                  <img style="height: 100px; width: 100%;" src="/img/240_F_442262808_cEeNmY0CBj278TyyeyiNHh9WN8gcYzL7.jpg" alt="">
              </div>
              <div class="content">
                  <div class="icons">
                      <a href="#"> <i class="fas fa-user"></i> by admin </a>
                      <a href="#"> <i class="fas fa-calendar"></i> 1st dec, 2021 </a>
                  </div>
                  <h3>আয়তনয়না</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                  <a href="#" class="btn">read more</a>
              </div>
          </div>

          <div class="swiper-slide box">
              <div class="image">
                  <img style="height: 100px; width: 100%;" src="/img/240_F_443417160_S5iv8MemJqRuHM1sI2wP2zIiqLP9kIvJ.jpg" alt="">
              </div>
              <div class="content">
                  <div class="icons">
                      <a href="#"> <i class="fas fa-user"></i> by admin </a>
                      <a href="#"> <i class="fas fa-calendar"></i> 1st dec, 2021 </a>
                  </div>
                  <h3>তুষার কণ্যা</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                  <a href="#" class="btn">read more</a>
              </div>
          </div>

          <div class="swiper-slide box">
              <div class="image">
                  <img style="height: 100px; width: 100%;" src="/img/240_F_445542149_dOMYc1ABkVVSOz9VgZJEVscjf3vGwceH.jpg" alt="">
              </div>
              <div class="content">
                  <div class="icons">
                      <a href="#"> <i class="fas fa-user"></i> by admin </a>
                      <a href="#"> <i class="fas fa-calendar"></i> 1st dec, 2021 </a>
                  </div>
                  <h3>আয়নাঘর</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                  <a href="#" class="btn">read more</a>
              </div>
          </div>

          <div class="swiper-slide box">
              <div class="image">
                  <img style="height: 100px; width: 100%;" src="/img/240_F_442617514_Dm9CwYmp5XJkr2jHXjPSvmnAG5ZltNPj.jpg" alt="">
              </div>
              <div class="content">
                  <div class="icons">
                      <a href="#"> <i class="fas fa-user"></i> by admin </a>
                      <a href="#"> <i class="fas fa-calendar"></i> 1st dec, 2021 </a>
                  </div>
                  <h3>চিরায়ত নারী</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                  <a href="#" class="btn">read more</a>
              </div>
          </div>

          <div class="swiper-slide box">
              <div class="image">
                  <img style="height: 100px; width: 100%;" src="/img/240_F_443562228_zHRsaaSeHqkDfcKD47GaRwVqrEobT0lR.jpg" alt="">
              </div>
              <div class="content">
                  <div class="icons">
                      <a href="#"> <i class="fas fa-user"></i> by admin </a>
                      <a href="#"> <i class="fas fa-calendar"></i> 1st dec, 2021 </a>
                  </div>
                  <h3>একটি মাছের আত্মকাহিনী</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                  <a href="#" class="btn">read more</a>
              </div>
          </div>

      </div>

  </div>

</section>

<!-- blogs section ends -->
<script src="/socket.io/socket.io.js"></script>


<%- include('./customerview/footer.ejs')%>