<%- include('./header.ejs') %>
<div class="order-page">
    <table>
        <thead>
        <tr>
            <th>Order Details</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Order Time</th>
            <th>Payment Status</th>
        </tr>
        </thead>
        <%
        function renderOrderItems(books){
            let parsedItems = Object.values(books)
            return parsedItems.map((bookItem) =>{
                return `
                   ${ bookItem.books.bookName } - ${ bookItem.bookqty }  
                   `
            }).join('')
        } 
        %>
        <tbody>
        <% if(orders.length) { %>
            <% orders.forEach((order) => { %>
            <tr>
                <td>
                    <a href=""><p class="order-id"><%= order._id %></p></a>
                    <div class="order-info"><p><%= renderOrderItems(order.books) %></p></div>
                </td>
                <td><%= order.customerId.name %></td>
                <td><%= order.customerId.email %></td>
                <td><%= order.customerId.contact %></td>
                <td><%= order.status %></td>
                <td><%= moment(order.createdAt).format('DD/MM/YYYY') %></td>
                <td><%= moment(order.createdAt).format('hh:mmA') %></td>
                <td><%= order.paymentStatus ? 'Paid' : 'Not paid' %></td>
            </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td>No Orders Found</td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
